* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.body {
    background-color: white;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: white;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}
/* Changed "seo" to id attritbute and changed color to yellowgreen */
#seo {
    color: yellowgreen;
}
/* Replaced "div" with "section" */
.header section {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header section ul {
    list-style-type: none;
}

.header section ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: white;
    text-decoration: none;
}

/* Removed "p" selector, added custom font sizes to each section. */

/* Replaced "div" with "img" and renamed "image" */
.image {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./images/digital-marketing-meeting.jpg");
    background-size: contain;
    background-position: center;
}
/* Replaced "div with "section" and also re-organized CSS list items */
/* Replaced "content" with "services" */
.services {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* Deleted class selectors for each article and replaced with "services-article" selector */
/* Added "font-size" to services-article selector. */
.services-article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: white;
}
/* Deleted redundant img CSS selectors and replaced with "services-article img" */
.services-article img {
    max-height: 200px;
}
/* Deleted redundant h2 CSS selectors and replaced with "services-article h2" */
.services-article h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* Renamed class selector to "lead-generation" */
/* Renamed selector to "benefits-article" and deleted redundant CSS code. */
/* Added font size. */
.benefits-article {
    margin-bottom: 32px;
    color: white;
    font-size: 20px;
}

.benefits-article h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefits-article img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}




















